/* #app input{
    width: 190px;
    height: 30px;
    margin: 0px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 0px;
} */
#app select{
    width: 190px;
    height: 30px;
    margin: 0px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 0px;
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
    background: url("../assets/ico/ico-arr-blue-down.png") no-repeat scroll right center transparent;
}