#app .input{
    width: 190px;
    height: 30px;
    margin: 0px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 0px;
}
#app .select{
    width: 190px;
    height: 30px;
    margin: 0px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 0px;
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
    background: url("../assets/ico/xiala.png") no-repeat scroll right center transparent;
}
.radio .el-radio__inner{
    background-color: #fff !important;
    border-color: #777;
  }
.radio .el-radio__input.is-checked .el-radio__inner{
    border-color: #1A9BFE;
}
.radio .el-radio__inner::after{
    background-color: #1A9BFE;
    width: 8px;
    height: 8px;
}
#app .searchRegion{
    height: 135px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09);
    padding: 30px 25px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing:2px;
}
#app .button{
    width: 90px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: initial;
    padding: 5px;
    cursor: pointer;
}
#app .queryBtn{
    background: #FF557E;
    box-shadow: 0 1px 3px 0 #FF557E;
}
#app .exportBtn{
    background: #149AFF;
    box-shadow: 0 1px 3px 0 #149AFF;
}
#app .tableBtn{
    width: 80px;
    height: 26px;
    background: #F6A623;
    box-shadow: 0 1px 3px 0 #EFB657;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
#app .cancelReservationBtn{
    width: 80px;
    height: 26px;
    background: #FAFAFA;
    border: 1px solid #A0A0A0;
    box-shadow: 0 1px 3px 0 rgba(210,210,210,0.92);
    border-radius: 100px;
    text-align: center;
    color: #777777;
    cursor: pointer;
  }
